<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.StudentMapper">
    <!-- 这里可以编写具体的 SQL 语句，如 <select>、<insert>、<update>、<delete> 等标签 -->
    <select id="queryStudents" resultType="org.example.pojo.Student">
        select s.id, s.name, no, gender, phone, degree,id_card, is_college, address, graduation_date, violation_count, violation_score,clazz_id ,s.create_time, s.update_time, c.name AS clazzName
        from student s left join clazz c on c.id = s.clazz_id
        <where>
        <if test="name != null and name != ''">
            s.name = #{name}
        </if>
        <if test="degree != null ">
            AND s.degree = #{degree}
        </if>
        <if test="clazz_id != null">
            AND s.clazz_id = #{clazz_id}
        </if>
    </where>
    </select>

    <delete id="deleteStudent">
        delete from student where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="updateStudent">
        UPDATE student
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="no != null and no != ''">no = #{no},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="isCollege != null">is_college = #{isCollege},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="degree != null">degree = #{degree},</if>
            <if test="graduationDate != null">graduation_date = #{graduationDate},</if>
            <if test="clazzId != null">clazz_id = #{clazzId},</if>
            <if test="violationCount != null">violation_count = #{violationCount},</if>
            <if test="violationScore != null">violation_score = #{violationScore},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

</mapper>